{% extends "base.html" %}

{%- from 'components/button/macro.html' import tnaButton -%}
{%- from 'components/panel/macro.html' import tnaPanel -%}

{% block content %}
  <div class="tna-section">
    <div class="tna-container">
      <div class="tna-column tna-column--width-2-3 tna-column--width-5-6-medium tna-column--full-small tna-column--full-tiny">
        {%- if completion_handled %}
        {{ tnaPanel({
          'title': content.panelTitle or pageTitle,
          'body': '<p>' ~ (content.panelText if content.panelText else ('Your reference number is <strong>' ~ reference_number ~ '</strong>.')) ~ '</p>'
        }) }}
        {{ content.body | safe }}
        {%- else %}
        <h1 class="tna-heading-xl">An error occurred</h1>
        <p>Something went wrong.</p>
        {%- if 'retry' in request.args %}
        <p>
          <a href="#">Contact us</a>
        </p>
        {%- else %}
        <div class="tna-button-group">
          {{ tnaButton({
            'text': 'Try submitting again',
            'href': final_page.get_page_path() ~ '?retry'
          }) }}
        </div>
        {%- endif %}
        {%- endif %}
      </div>
    </div>
  </div>
{% endblock content %}
