{% extends "base.html" %}

{%- from 'components/panel/macro.html' import tnaPanel -%}

{% block content %}
  <div class="tna-section">
    <div class="tna-container">
      <div class="tna-column tna-column--width-2-3 tna-column--width-5-6-medium tna-column--full-small tna-column--full-tiny">
        {%- if completion_handled %}
        {{ tnaPanel({
          'title': pageTitle,
          'text': body | safe
        }) }}
        <p>
          <a href="{{ form_reset_path }}">Start again</a>
        </p>
        {%- else %}
        <h1 class="tna-heading-xl">An error occured</h1>
        <p>Something went wrong.</p>
        {%- if 'retry' in request.args %}
        <p>
          <a href="#">Contact us</a>
        </p>
        {%- else %}
        <p>
          <a href="{{ final_page.get_page_path() }}?retry">Try submitting again</a>
        </p>
        {%- endif %}
        {%- endif %}

        <hr class="tna-!--margin-top-l">

        <h2 class="tna-heading-l">Session data</h2>
        <dl class="tna-dl">
          {% for page in session %}
          <dt>{{ page }}</dt>
          <dd>
            {{ session[page] }}
          </dd>
          {% endfor %}
          <dt>has_complete_path</dt>
          <dd>{{ has_complete_path }}</dd>
          <dt>earliest_incomplete_page</dt>
          <dd>{{ earliest_incomplete_page }}</dd>
        </dl>
        
        <h2 class="tna-heading-l">All pages</h2>
        <ul class="tna-ul">
          {% for page in pages %}
          <li>
            <a href="{{ page.get_page_path() }}">{{ page.name }}</a>
            {% if page.is_complete(temporary_validation=True) %}
              (Complete)
            {% else %}
              (Incomplete)
            {% endif %}
          </li>
          {% endfor %}
        </ul>

        <p>
          <a href="{{ form_reset_path }}">Start again</a>
        </p>
      </div>
    </div>
  </div>
{% endblock content %}
