{% extends "base.html" %}

{%- from 'components/details/macro.html' import tnaDetails -%}
{%- from 'forms/macros/altcha_widget.html' import altcha_widget -%}
{%- from 'forms/macros/form_error_summary.html' import form_error_summary -%}

{% block header %}
    {{ super() }}
    {%- if altcha %}
    <link rel="stylesheet" href="{{ url_for('static', filename='altcha.css', v=app_config.BUILD_VERSION) }}" media="screen">
    {%- endif %}
{% endblock header %}

{% block content %}
  <div class="tna-section">
    <div class="tna-container">
      <div class="tna-column tna-column--width-2-3 tna-column--width-5-6-medium tna-column--full-small tna-column--full-tiny">
        {{ form_error_summary(form, altcha, altcha_verified) }}

        {%- set ns = namespace(field_count=0, file_fields_present=False) %}
        {%- for field in form %}
          {% if field.name != 'csrf_token' %}
            {% set ns.field_count = ns.field_count + 1 %}
          {% endif %}
          {% if field.type in ['FileField', 'MultipleFileField'] %}
            {% set ns.file_fields_present = True %}
          {% endif %}
        {%- endfor %}

        {%- if ns.field_count > 1 %}
        {%- if content.supertitle %}
        <hgroup class="tna-hgroup-xl">
          <p class="tna-hgroup__supertitle">{{ content.supertitle }}</p>
          <h1 class="tna-hgroup__title">{{ pageTitle }}</h1>
        </hgroup>
        {%- else %}
        <h1 class="tna-heading-xl">{{ pageTitle }}</h1>
        {%- endif %}
        {%- if content.description %}
        <p class="tna-scene-setter">{{ content.description | safe }}</p>
        {%- endif %}
        {{ content.body | safe }}
        {%- endif %}

        <form action="{{ page_path }}" method="post" enctype="{{ 'multipart/form-data' if handle_files and ns.file_fields_present else 'application/x-www-form-urlencoded' }}" class="{{ 'tna-!--margin-top-m' if ns.field_count > 1 else '' }}" novalidate>
          {%- for field in form %}
            {%- set params = {} %}
            {%- if ns.field_count == 1 %}
              {% set params = {'headingSize': 'xl', 'headingLevel': 1} %}
            {%- endif %}
            {{ field(params=params) }}
          {%- endfor %}

          {%- if altcha %}
            {{ altcha_widget(altcha_verified) }}
          {%- endif %}

          {{ content.beforeSubmit | safe }}

          <div class="tna-button-group">
            <button class="tna-button" type="submit">Continue</button>
          </div>
        </form>

        <hr class="tna-!--margin-top-xl">
        
        {%- call tnaDetails({
          'title': 'Debug information'
        }) %}
          <h2 class="tna-heading-l">Session data</h2>
          <dl class="tna-dl">
            {% for page in session %}
            <dt>{{ page }}</dt>
            <dd>
              {{ session[page] }}
            </dd>
            {% endfor %}
            <dt>has_complete_path</dt>
            <dd>{{ has_complete_path }}</dd>
            <dt>earliest_incomplete_page</dt>
            <dd>{{ earliest_incomplete_page }}</dd>
          </dl>
          <h2 class="tna-heading-l">All pages</h2>
          <ul class="tna-ul">
            {% for page in pages %}
            <li>
              <a href="{{ page.get_page_path() }}">{{ page.name }}</a>
              {% if page.is_complete(temporary_validation=True) %}
                (Complete)
              {% else %}
                (Incomplete)
              {% endif %}
            </li>
            {% endfor %}
          </ul>
        {%- endcall %}

        <p>
          <a href="{{ form_reset_path }}">Clear data and start again</a>
        </p>
      </div>
    </div>
  </div>
{% endblock content %}

{% block bodyEnd %}
    {{ super() }}
    {%- if altcha %}
    <script src="{{ url_for('static', filename='altcha.min.js', v=app_config.BUILD_VERSION) }}" type="module" defer></script>
    {%- endif %}
{% endblock bodyEnd %}
