{% extends "base.html" %}

{%- from 'components/back-link/macro.html' import tnaBackLink -%}
{%- from 'components/breadcrumbs/macro.html' import tnaBreadcrumbs -%}
{%- from 'components/button/macro.html' import tnaButton -%}

{% block beforeContent %}
{%- if content.breadcrumbs or content.backLink %}
<div class="tna-container">
  <div class="tna-column tna-column--full tna-!--padding-vertical-s">
    {%- if content.breadcrumbs %}
    {{ tnaBreadcrumbs({
      'items': content.breadcrumbs['items']
    }) }}
    {%- elif content.backLink %}
    {{ tnaBackLink({
      'text': content.backLink.text,
      'href': get_page_by_id(content.backLink.page).get_page_path()
    }) }}
    {%- endif %}
  </div>
</div>
{%- endif %}
{% endblock beforeContent %}

{% block content %}
  <div class="tna-section">
    <div class="tna-container">
      <div class="tna-column tna-column--width-2-3 tna-column--width-5-6-medium tna-column--full-small tna-column--full-tiny">
        <h1 class="tna-heading-xl">{{ pageTitle }}</h1>
        {%- if content.description %}
        <p class="tna-scene-setter">{{ content.description | safe }}</p>
        {%- endif %}
        {{ content.body | safe }}
        <div class="tna-button-group">
          {{ tnaButton({
            'text': content.startButtonText or 'Start',
            'href': get_page_by_id(content.startButtonPage).get_page_path()
          }) }}
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
