{% extends "base.html" %}

{%- from 'components/button/macro.html' import tnaButton -%}

{% block content %}
  <div class="tna-section">
    <div class="tna-container">
      <div class="tna-column tna-column--width-2-3 tna-column--width-5-6-medium tna-column--full-small tna-column--full-tiny">
        <h1 class="tna-heading-xl">{{ pageTitle }}</h1>
        {{ content.body | safe }}
        <div class="tna-button-group">
          {{ tnaButton({
            'text': 'Start',
            'href': get_page_by_id('your_details').get_page_path()
          }) }}
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
