{% extends "forms/form_page.html" %}

{%- from 'components/button/macro.html' import tnaButton -%}
{%- from 'forms/macros/altcha_widget.html' import altcha_widget -%}
{%- from 'forms/macros/form_error_summary.html' import form_error_summary -%}

{% block content %}
  <div class="tna-section">
    <div class="tna-container">
      <div class="tna-column tna-column--width-2-3 tna-column--width-5-6-medium tna-column--full-small tna-column--full-tiny">
        {{ form_error_summary(form, altcha, altcha_verified) }}
        
        <h1 class="tna-heading-xl">{{ pageTitle }}</h1>
        
        <h2 class="tna-heading-l">Your details</h2>
        <dl class="tna-dl tna-dl--stacked-">
          <dt>Name</dt>
          <dd>
            {{ session.your_details.full_name }}
            <br>
            <small><a href="{{ get_page_by_id('your_details').get_page_path() }}#full_name">Change<span class="tna-visually-hidden"> your name</span></a></small>
          </dd>
          <dt>Email address</dt>
          <dd>
            {{ session.your_details.email_address }}
            <br>
            <small><a href="{{ get_page_by_id('your_details').get_page_path() }}#email_address">Change<span class="tna-visually-hidden"> your email address</span></a></small>
          </dd>
          {%- if session.your_details.organisation %}
          <dt>Organisation</dt>
          <dd>
            {{ session.your_details.organisation }}
            <br>
            <small><a href="{{ get_page_by_id('your_details').get_page_path() }}#organisation">Change<span class="tna-visually-hidden"> your organisation</span></a></small>
          </dd>
          {%- endif %}
          {%- if session.your_details.job_title %}
          <dt>Job title</dt>
          <dd>
            {{ session.your_details.job_title }}
            <br>
            <small><a href="{{ get_page_by_id('your_details').get_page_path() }}#job_title">Change<span class="tna-visually-hidden"> your job title</span></a></small>
          </dd>
          {%- endif %}
          {%- if session.your_details.phone_number %}
          <dt>Phone number</dt>
          <dd>
            {{ session.your_details.phone_number }}
            <br>
            <small><a href="{{ get_page_by_id('your_details').get_page_path() }}#phone_number">Change<span class="tna-visually-hidden"> your phone number</span></a></small>
          </dd>
          {%- endif %}
        </dl>

        <h2 class="tna-heading-l">About your project</h2>
        <dl class="tna-dl tna-dl--stacked-">
          <dt>Preferred date of filming</dt>
          <dd>
            {{ session.about.date }}
            <br>
            <small><a href="{{ get_page_by_id('about').get_page_path() }}#date">Change<span class="tna-visually-hidden"> your preferred date of filming</span></a></small>
          </dd>
          <dt>Preferred time of filming</dt>
          <dd>
            {{ session.about.time }}
            <br>
            <small><a href="{{ get_page_by_id('about').get_page_path() }}#time">Change<span class="tna-visually-hidden"> your preferred time of filming</span></a></small>
          </dd>
          {%- if session.about.broadcast %}
          <dt>How will it be broadcast and when will it be transmitted? Is it part of a series?</dt>
          <dd>
            {{ session.about.broadcast }}
            <br>
            <small><a href="{{ get_page_by_id('about').get_page_path() }}#broadcast">Change<span class="tna-visually-hidden"> how it will be broadcast</span></a></small>
          </dd>
          {%- endif %}
          {%- if session.about.documents %}
          <dt>List the documents you would like to film, providing full references</dt>
          <dd>
            {{ session.about.documents }}
            <br>
            <small><a href="{{ get_page_by_id('about').get_page_path() }}#documents">Change<span class="tna-visually-hidden"> the list of documents you would like to film</span></a></small>
          </dd>
          {%- endif %}
          {%- if session.about.interview %}
          <dt>Enter the names of the staff member you want to interview</dt>
          <dd>
            {{ session.about.interview }}
            <br>
            <small><a href="{{ get_page_by_id('about').get_page_path() }}#interview">Change<span class="tna-visually-hidden"> the names of the staff member you want to interview</span></a></small>
          </dd>
          {%- endif %}
        </dl>

        <form action="{{ page_path }}" method="post" enctype="application/x-www-form-urlencoded" class="tna-!--margin-top-l" novalidate>
          {{ form.confirm(params={'headingSize': 's', 'label': 'Are these details correct?'}) }}

          {%- if altcha %}
            {{ altcha_widget(altcha_verified) }}
          {%- endif %}

          {{ form.csrf_token }}

          <div class="tna-button-group">
            <button class="tna-button" type="submit">Continue</button>
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock content %}
